@media all {
	.chat-window {
		position: relative;
		z-index: 1;
		flex: 1 1 0;
		order: 2;
	}
	
	.chat-window__wrap {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		transition: background .3s ease-out .1s;
		border-left: 1px solid var(--conversation-panel-border);
		z-index: 100;
	}
	
	.chat-window__indent {
		flex: 1 1 auto;
		min-height: 12px;
	}
	
	.chat-window__list {
		flex: 0 0 auto;
		padding-left: 0;
		transition: padding-left .3s cubic-bezier(.69, 0, .79, .14);
	}
}