@media all {
	.link {
		position: relative;
		flex: none;
		height: 24px;
		transition: background-color .3s ease;
		padding: 8px;
		border-radius: 50%;
		margin-left: 10px;
	}
	
	.link:first-of-type {
		margin-left: 0;
	}
	
	.link_active {
		background-color: rgba(var(--shadow-rgb), .1);
	}
}