@media all {
	.footer {
		position: relative;
		z-index: 1;
		flex: none;
		order: 3;
		box-sizing: border-box;
		width: 100%;
		min-height: 62px;
		padding: 0;
		background-color: var(--compose-panel-background);
	}
	
	.footer__wrap {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		box-sizing: border-box;
		max-width: 100%;
		min-height: 62px;
		padding: 5px 10px;
		background-color: var(--rich-text-panel-background);
		border-left: 1px solid var(--border-stronger);
	}
	
	.footer__link {
		flex: none;
		box-sizing: border-box;
		min-height: 52px;
		padding: 5px 10px;
		will-change: width;
	}
	
	.footer__link .link {
		position: relative;
		display: flex;
		width: 26px;
		height: 42px;
		transition: width .3s;
		padding: 0;
	}
	
	.footer__link [role=button] {
		position: absolute;
		bottom: 8px;
		display: block;
		width: 26px;
		height: 26px;
		color: var(--icon);
		border-radius: 2px;
		transform: translateZ(0);
		transition: transform .3s, opacity .3s;
		z-index: 2;
	}
	
	.footer__link svg {
		width: 26px;
		height: 26px;
	}
	
	.footer .search__label {
		flex: 1 1 auto;
		box-sizing: border-box;
		width: inherit;
		min-width: 0;
		min-height: 20px;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		outline: none;
		will-change: width;
		margin: 5px 10px;
	}
	
	.footer .search__input {
		padding: 9px 12px 11px;
		background-color: var(--compose-input-background);
		border: 1px solid var(--compose-input-border);
		color: var(--compose-primary);
		border-radius: 21px;
		width: calc(100% - 20px);
		font-size: 15px;
		line-height: 20px;
		white-space: pre-wrap;
		transition: opacity .08s linear;
		z-index: 100;
		outline: none;
	}
	
	.footer .search__input::placeholder {
		color: var(--input-placeholder);
	}
}