/* Цвета взяты с оригинального приложения */
:root {
	--beige: #e5ddd5;
	--beige-rgb: 229, 221, 213;
	--black: #000;
	--black-rgb: 0, 0, 0;
	--blue: #039be5;
	--blue-rgb: 3, 155, 229;
	--blue-light: #00a5f4;
	--blue-light-rgb: 0, 165, 244;
	--blue-ocean: #aadaff;
	--blue-ocean-rgb: 170, 218, 255;
	--blue-sky: #9de1fe;
	--blue-sky-rgb: 157, 225, 254;
	--dark: #263238;
	--dark-rgb: 38, 50, 56;
	--gray-30: #f7f7f7;
	--gray-30-rgb: 247, 247, 247;
	--gray-60: #f0f0f0;
	--gray-60-rgb: 240, 240, 240;
	--gray-70: #ededed;
	--gray-70-rgb: 237, 237, 237;
	--gray-100: #e6e6e6;
	--gray-100-rgb: 230, 230, 230;
	--gray-150: #d9d9d9;
	--gray-150-rgb: 217, 217, 217;
	--gray-200: #ccc;
	--gray-200-rgb: 204, 204, 204;
	--gray-300: #b3b3b3;
	--gray-300-rgb: 179, 179, 179;
	--gray-400: #999;
	--gray-400-rgb: 153, 153, 153;
	--gray-500: #808080;
	--gray-500-rgb: 128, 128, 128;
	--gray-600: #666;
	--gray-600-rgb: 102, 102, 102;
	--gray-700: #4a4a4a;
	--gray-700-rgb: 74, 74, 74;
	--gray-800: #303030;
	--gray-800-rgb: 48, 48, 48;
	--gray-850: #262626;
	--gray-850-rgb: 38, 38, 38;
	--gray-900: #1a1a1a;
	--gray-900-rgb: 26, 26, 26;
	--green: #07bc4c;
	--green-rgb: 7, 188, 76;
	--green-deep: #1b9a59;
	--green-deep-rgb: 27, 154, 89;
	--orange: #ffad20;
	--orange-rgb: 255, 173, 32;
	--pale-blue-green: #ecfaf5;
	--pale-blue-green-rgb: 236, 250, 245;
	--pale-green: #dcf8c6;
	--pale-green-rgb: 220, 248, 198;
	--pale-yellow: #fff5c4;
	--pale-yellow-rgb: 255, 245, 196;
	--red: #d70000;
	--red-rgb: 215, 0, 0;
	--red-light: #f44336;
	--red-light-rgb: 244, 67, 54;
	--teal: #009688;
	--teal-rgb: 0, 150, 136;
	--teal-light: #1de9b6;
	--teal-light-rgb: 29, 233, 182;
	--teal-lighter: #00bfa5;
	--teal-lighter-rgb: 0, 191, 165;
	--white: #fff;
	--white-rgb: 255, 255, 255;
	--yellow: #fed859;
	--yellow-rgb: 254, 216, 89;
	--active-tab-marker: #009688;
	--active-tab-marker-rgb: 0, 150, 136;
	--app-background: #dddbd1;
	--app-background-rgb: 221, 219, 209;
	--app-background-deeper: #d2dbdc;
	--app-background-deeper-rgb: 210, 219, 220;
	--app-background-stripe: #009688;
	--app-background-stripe-rgb: 0, 150, 136;
	--attach-media-drop-border: #0000004d;
	--attach-media-drop-border-rgb: 0, 0, 0;
	--attach-media-drop-overlay: #fff9;
	--attach-media-drop-overlay-rgb: 255, 255, 255;
	--audio-progress-incoming: #31c76a;
	--audio-progress-incoming-rgb: 49, 199, 106;
	--audio-progress-outgoing: #889a7b;
	--audio-progress-outgoing-rgb: 136, 154, 123;
	--audio-progress-played-incoming: #30b6f6;
	--audio-progress-played-incoming-rgb: 48, 182, 246;
	--audio-progress-played-outgoing: #2ab5eb;
	--audio-progress-played-outgoing-rgb: 42, 181, 235;
	--audio-track-incoming: #e6e6e6;
	--audio-track-incoming-rgb: 230, 230, 230;
	--audio-track-outgoing: #c6dfb2;
	--audio-track-outgoing-rgb: 198, 223, 178;
	--avatar-background: #e6e6e6;
	--avatar-background-rgb: 230, 230, 230;
	--avatar-border: #fff;
	--avatar-border-rgb: 255, 255, 255;
	--avatar-placeholder-background: #dfe5e7;
	--avatar-placeholder-background-rgb: 223, 229, 231;
	--avatar-placeholder-primary: #fff;
	--avatar-placeholder-primary-rgb: 255, 255, 255;
	--background-default: #fff;
	--background-default-rgb: 255, 255, 255;
	--background-default-active: #ebebeb;
	--background-default-active-rgb: 235, 235, 235;
	--background-default-hover: #f5f5f5;
	--background-default-hover-rgb: 245, 245, 245;
	--border-bubble: #0000000f;
	--border-bubble-rgb: 0, 0, 0;
	--border-default: #f0f0f0;
	--border-default-rgb: 240, 240, 240;
	--border-list: #f2f2f2;
	--border-list-rgb: 242, 242, 242;
	--border-panel: #0000000d;
	--border-panel-rgb: 0, 0, 0;
	--border-strong: #d9d9d9;
	--border-strong-rgb: 217, 217, 217;
	--border-stronger: #00000014;
	--border-stronger-rgb: 0, 0, 0;
	--bubble-meta: #00000073;
	--bubble-meta-rgb: 0, 0, 0;
	--bubble-meta-icon: #0000004d;
	--bubble-meta-icon-rgb: 0, 0, 0;
	--butterbar-battery-background: #fa685e;
	--butterbar-battery-background-rgb: 249.69711, 103.94798, 93.50289;
	--butterbar-battery-icon: #ffffffe6;
	--butterbar-battery-icon-rgb: 255, 255, 255;
	--butterbar-battery-primary: #fff;
	--butterbar-battery-primary-rgb: 255, 255, 255;
	--butterbar-battery-secondary: #fff;
	--butterbar-battery-secondary-rgb: 255, 255, 255;
	--butterbar-connection-background: #fed859;
	--butterbar-connection-background-rgb: 254, 216, 89;
	--butterbar-connection-primary: #303030f5;
	--butterbar-connection-primary-rgb: 48, 48, 48;
	--butterbar-connection-secondary: #303030d9;
	--butterbar-connection-secondary-rgb: 48, 48, 48;
	--butterbar-default-background: #9de1fe;
	--butterbar-default-background-rgb: 157, 225, 254;
	--butterbar-icon: #ffffffe6;
	--butterbar-icon-rgb: 255, 255, 255;
	--butterbar-notification-icon: #ffffffe6;
	--butterbar-notification-icon-rgb: 255, 255, 255;
	--butterbar-primary: #303030f5;
	--butterbar-primary-rgb: 48, 48, 48;
	--butterbar-secondary: #303030d9;
	--butterbar-secondary-rgb: 48, 48, 48;
	--butterbar-update-background: #1de9b6;
	--butterbar-update-background-rgb: 29, 233, 182;
	--butterbar-update-icon: #ffffffe6;
	--butterbar-update-icon-rgb: 255, 255, 255;
	--button-alternative: #00a5f4;
	--button-alternative-rgb: 0, 165, 244;
	--button-alternative-background: #fff;
	--button-alternative-background-rgb: 255, 255, 255;
	--button-background-disabled: #e6e6e6;
	--button-background-disabled-rgb: 230, 230, 230;
	--button-bubble: #009688b3;
	--button-bubble-rgb: 0, 150, 136;
	--button-plain-background: #fff;
	--button-plain-background-rgb: 255, 255, 255;
	--button-primary: #fff;
	--button-primary-rgb: 255, 255, 255;
	--button-primary-background: #05cd51;
	--button-primary-background-rgb: 5.44623, 204.85377, 81.46347;
	--button-primary-background-hover: #06d253;
	--button-primary-background-hover-rgb: 5.57831, 209.82169, 83.43905;
	--button-round-background: #09e85e;
	--button-round-background-rgb: 8.64769, 232.25231, 93.88923;
	--button-secondary: #07bc4c;
	--button-secondary-rgb: 7, 188, 76;
	--button-secondary-background: #fff;
	--button-secondary-background-rgb: 255, 255, 255;
	--button-secondary-background-hover: #fff;
	--button-secondary-background-hover-rgb: 255, 255, 255;
	--button-secondary-hover: #05cd51;
	--button-secondary-hover-rgb: 5.44623, 204.85377, 81.46347;
	--chat-marker: #999;
	--chat-marker-rgb: 153, 153, 153;
	--chat-marker-admin: #07bc4c;
	--chat-marker-admin-rgb: 7, 188, 76;
	--chat-marker-admin-border: #07bc4cb3;
	--chat-marker-admin-border-rgb: 7, 188, 76;
	--chat-marker-border: #5bcaff1a;
	--chat-marker-border-rgb: 91, 201.90164, 255;
	--chatlist-icon: #0000004d;
	--chatlist-icon-rgb: 0, 0, 0;
	--checkbox-background: #009688;
	--checkbox-background-rgb: 0, 150, 136;
	--checkbox-mark: #fff;
	--checkbox-mark-rgb: 255, 255, 255;
	--compose-input-background-focused: #d4f1ff;
	--compose-input-background-focused-rgb: 212, 241, 255;
	--compose-input-background: #fff;
	--compose-input-background-rgb: 255, 255, 255;
	--compose-input-border: #fff;
	--compose-input-border-rgb: 255, 255, 255;
	--compose-input-border-focused: #ccedfd;
	--compose-input-border-focused-rgb: 204, 237, 253;
	--compose-panel-background: #f0f0f0;
	--compose-panel-background-rgb: 240, 240, 240;
	--compose-panel-background-hover: #e6e6e6;
	--compose-panel-background-hover-rgb: 230, 230, 230;
	--compose-primary: #4a4a4a;
	--compose-primary-rgb: 74, 74, 74;
	--conversation-panel-background: #e5ddd5;
	--conversation-panel-background-rgb: 229, 221, 213;
	--conversation-panel-border: #00000008;
	--conversation-panel-border-rgb: 0, 0, 0;
	--danger: #df3333;
	--danger-rgb: 223, 51, 51;
	--drawer-background: #ededed;
	--drawer-background-rgb: 237, 237, 237;
	--drawer-background-deep: #ededed;
	--drawer-background-deep-rgb: 237, 237, 237;
	--drawer-gallery-background: #ededed;
	--drawer-gallery-background-rgb: 237, 237, 237;
	--drawer-gallery-background-active: #dadada;
	--drawer-gallery-background-active-rgb: 218, 218, 218;
	--drawer-gallery-background-hover: #e4e4e4;
	--drawer-gallery-background-hover-rgb: 228, 228, 228;
	--drawer-header-title: #fff;
	--drawer-header-title-rgb: 255, 255, 255;
	--drawer-section-background: #fff;
	--drawer-section-background-rgb: 255, 255, 255;
	--dropdown-background: #fff;
	--dropdown-background-rgb: 255, 255, 255;
	--dropdown-background-hover: #f5f5f5;
	--dropdown-background-hover-rgb: 245, 245, 245;
	--empty-state-background: #e6e6e6;
	--empty-state-background-rgb: 230, 230, 230;
	--empty-state-icon: #fff;
	--empty-state-icon-rgb: 255, 255, 255;
	--focus: #00a5f4;
	--focus-rgb: 0, 165, 244;
	--focus-animation: #00a5f438;
	--focus-animation-rgb: 0, 165, 244;
	--focus-animation-deeper: #00a5f44d;
	--focus-animation-deeper-rgb: 0, 165, 244;
	--focus-lighter: #00a5f41a;
	--focus-lighter-rgb: 0, 165, 244;
	--highlight: #009688;
	--highlight-rgb: 0, 150, 136;
	--icon: #919191;
	--icon-rgb: 145, 145, 145;
	--icon-ack: #4fc3f7;
	--icon-ack-rgb: 79, 195, 247;
	--icon-disabled: #c9c9c9;
	--icon-disabled-rgb: 201, 201, 201;
	--icon-fixed: #919191;
	--icon-fixed-rgb: 145, 145, 145;
	--icon-lighter: #0000004d;
	--icon-lighter-rgb: 0, 0, 0;
	--icon-search-back: #33b7f6;
	--icon-search-back-rgb: 51, 183, 246;
	--icon-strong: #333;
	--icon-strong-rgb: 51, 51, 51;
	--incoming-background: #fff;
	--incoming-background-rgb: 255, 255, 255;
	--incoming-background-deeper: #f0f0f0;
	--incoming-background-deeper-rgb: 240, 240, 240;
	--incoming-background-highlight: #ccc;
	--incoming-background-highlight-rgb: 204, 204, 204;
	--incoming-primary: #989898;
	--incoming-primary-rgb: 152, 152, 152;
	--input-border-active: #00bfa5;
	--input-border-active-rgb: 0, 191, 165;
	--input-placeholder: #999;
	--input-placeholder-rgb: 153, 153, 153;
	--intro-background: #f8f9fa;
	--intro-background-rgb: 248, 249, 250;
	--intro-border: #4adf83;
	--intro-border-rgb: 74.14115, 222.85885, 130.83464;
	--intro-secondary: #00000073;
	--intro-secondary-rgb: 0, 0, 0;
	--inverse: #fff;
	--inverse-rgb: 255, 255, 255;
	--labels-icon: #0006;
	--labels-icon-rgb: 0, 0, 0;
	--link: #039be5;
	--link-rgb: 3, 155, 229;
	--live-location-footer-background: #ffffffe6;
	--live-location-footer-background-rgb: 255, 255, 255;
	--live-location-glow: #25d3664d;
	--live-location-glow-rgb: 37, 211, 102;
	--live-location-glow-stale: #ff001f4d;
	--live-location-glow-stale-rgb: 255, 0, 31;
	--location-cluster-background: #fff;
	--location-cluster-background-rgb: 255, 255, 255;
	--media-editor-control: #1c313f;
	--media-editor-control-rgb: 28, 49, 63;
	--media-viewer-background: #fffffff5;
	--media-viewer-background-rgb: 255, 255, 255;
	--media-viewer-button-background: #ccc;
	--media-viewer-button-background-rgb: 204, 204, 204;
	--media-viewer-button-icon: #fff;
	--media-viewer-button-icon-rgb: 255, 255, 255;
	--menu-tabs-list-active: #6cea91;
	--menu-tabs-list-active-rgb: 108.28579, 234.05421, 145.4638;
	--message-background-deep: #0000001f;
	--message-background-deep-rgb: 0, 0, 0;
	--message-placeholder-icon: #3030304d;
	--message-placeholder-icon-rgb: 48, 48, 48;
	--message-primary: #303030;
	--message-primary-rgb: 48, 48, 48;
	--message-selection-highlight: #00968814;
	--message-selection-highlight-rgb: 0, 150, 136;
	--modal-backdrop: #ffffffd9;
	--modal-backdrop-rgb: 255, 255, 255;
	--modal-backdrop-solid: #ededed;
	--modal-backdrop-solid-rgb: 237, 237, 237;
	--modal-background: #fff;
	--modal-background-rgb: 255, 255, 255;
	--notification-biz-background: #ecfaf5f2;
	--notification-biz-background-rgb: 236, 250, 245;
	--notification-biz-text: #000000f5;
	--notification-biz-text-rgb: 0, 0, 0;
	--notification-e2e-background: #fff5c4f2;
	--notification-e2e-background-rgb: 255, 245, 196;
	--notification-e2e-icon: #00000073;
	--notification-e2e-icon-rgb: 0, 0, 0;
	--notification-e2e-text: #000000f5;
	--notification-e2e-text-rgb: 0, 0, 0;
	--notification-text: #000000f5;
	--notification-text-rgb: 0, 0, 0;
	--outgoing-background: #dcf8c6;
	--outgoing-background-rgb: 220, 248, 198;
	--outgoing-background-deeper: #cfe9ba;
	--outgoing-background-deeper-rgb: 207, 233, 186;
	--outgoing-background-highlight: #b3cba1;
	--outgoing-background-highlight-rgb: 179, 203, 161;
	--overlay: #000;
	--overlay-rgb: 0, 0, 0;
	--panel-background: #ededed;
	--panel-background-rgb: 237, 237, 237;
	--panel-background-active: #dadada;
	--panel-background-active-rgb: 218, 218, 218;
	--panel-background-colored: #00bfa5;
	--panel-background-colored-rgb: 0, 191, 165;
	--panel-background-colored-deeper: #009688;
	--panel-background-colored-deeper-rgb: 0, 150, 136;
	--panel-background-deep: #d9d9d9;
	--panel-background-deep-rgb: 217, 217, 217;
	--panel-background-deeper: #e6e6e6;
	--panel-background-deeper-rgb: 230, 230, 230;
	--panel-background-hover: #e4e4e4;
	--panel-background-hover-rgb: 228, 228, 228;
	--panel-background-lighter: #f7f7f7;
	--panel-background-lighter-rgb: 247, 247, 247;
	--panel-header-background: #ededed;
	--panel-header-background-rgb: 237, 237, 237;
	--panel-header-icon: #919191;
	--panel-header-icon-rgb: 145, 145, 145;
	--panel-input-background: #e6e6e6;
	--panel-input-background-rgb: 230, 230, 230;
	--panel-primary: #00000059;
	--panel-primary-rgb: 0, 0, 0;
	--payment-amount: #008c7f;
	--payment-amount-rgb: 0, 139.8, 126.752;
	--payment-status-failed: #f44336;
	--payment-status-failed-rgb: 244, 67, 54;
	--payment-status-processing: #00000073;
	--payment-status-processing-rgb: 0, 0, 0;
	--payment-status-success: #07bc4c;
	--payment-status-success-rgb: 7, 188, 76;
	--payment-status-waiting: #00000073;
	--payment-status-waiting-rgb: 0, 0, 0;
	--photopicker-overlay-background: #666c;
	--photopicker-overlay-background-rgb: 102, 102, 102;
	--picker-background: #f0f0f0;
	--picker-background-rgb: 240, 240, 240;
	--popup-panel-background: #0000000d;
	--popup-panel-background-rgb: 0, 0, 0;
	--primary: #4a4a4a;
	--primary-rgb: 74, 74, 74;
	--primary-strong: #000;
	--primary-strong-rgb: 0, 0, 0;
	--primary-stronger: #303030;
	--primary-stronger-rgb: 48, 48, 48;
	--primary-strongest: #000;
	--primary-strongest-rgb: 0, 0, 0;
	--primary-title: #525252;
	--primary-title-rgb: 81.65, 81.65, 81.65;
	--product-image-button-background: #00000059;
	--product-image-button-background-rgb: 0, 0, 0;
	--product-thumb-background: #ededed;
	--product-thumb-background-rgb: 237, 237, 237;
	--product-thumb-background-deeper: #d9d9d9;
	--product-thumb-background-deeper-rgb: 216.6, 216.6, 216.6;
	--progress-background: #e6e6e6;
	--progress-background-rgb: 230, 230, 230;
	--progress-primary: #00d9bb;
	--progress-primary-rgb: 0, 216.5, 187.0288;
	--ptt-blue: #4fc3f7;
	--ptt-blue-rgb: 79, 195, 247;
	--ptt-button-cancel: #e53935cc;
	--ptt-button-cancel-rgb: 229, 57, 53;
	--ptt-button-send: #09d261cc;
	--ptt-button-send-rgb: 9, 210, 97;
	--ptt-gray: #303030b3;
	--ptt-gray-rgb: 48, 48, 48;
	--ptt-green: #09d261;
	--ptt-green-rgb: 9, 210, 97;
	--ptt-message-blue: #039be5;
	--ptt-message-blue-rgb: 3, 155, 229;
	--quick-action-button: #fff;
	--quick-action-button-rgb: 255, 255, 255;
	--quick-action-button-background: #00000024;
	--quick-action-button-background-rgb: 0, 0, 0;
	--rich-text-panel-background: #f0f0f0;
	--rich-text-panel-background-rgb: 240, 240, 240;
	--search-container-background: #f6f6f6;
	--search-container-background-rgb: 245.725, 245.725, 245.725;
	--search-input-background: #fff;
	--search-input-background-rgb: 255, 255, 255;
	--secondary: #0009;
	--secondary-rgb: 0, 0, 0;
	--secondary-light: #00000040;
	--secondary-light-rgb: 0, 0, 0;
	--secondary-lighter: #00000073;
	--secondary-lighter-rgb: 0, 0, 0;
	--secondary-stronger: #000c;
	--secondary-stronger-rgb: 0, 0, 0;
	--shadow: #000;
	--shadow-rgb: 0, 0, 0;
	--shadow-light: #00000014;
	--shadow-light-rgb: 0, 0, 0;
	--spinner-default: #ccc;
	--spinner-default-rgb: 204, 204, 204;
	--spinner-highlight: #07bc4cb3;
	--spinner-highlight-rgb: 7, 188, 76;
	--spinner-incoming: #b3b3b3;
	--spinner-incoming-rgb: 179, 179, 179;
	--spinner-outgoing: #9aae8b;
	--spinner-outgoing-rgb: 154, 174, 139;
	--startup-background: #f0f0f0;
	--startup-background-rgb: 240, 240, 240;
	--status-background: #000;
	--status-background-rgb: 0, 0, 0;
	--status-background-hover: #262626;
	--status-background-hover-rgb: 38, 38, 38;
	--status-primary: #fff;
	--status-primary-rgb: 255, 255, 255;
	--status-secondary: #ffffff8c;
	--status-secondary-rgb: 255, 255, 255;
	--status-secondary-stronger: #b3b3b3;
	--status-secondary-stronger-rgb: 179, 179, 179;
	--success: #07bc4c;
	--success-rgb: 7, 188, 76;
	--suspicious-background: #f44336cc;
	--suspicious-background-rgb: 244, 67, 54;
	--system-message-background: #e1f5feeb;
	--system-message-background-rgb: 225, 245, 254;
	--system-message-text: #000000e0;
	--system-message-text-rgb: 0, 0, 0;
	--teal-hover: #00ab97;
	--teal-hover-rgb: 0, 171, 151;
	--teal-pale: #5fb9b0;
	--teal-pale-rgb: 95, 185, 176;
	--thumb-border-active: #fff;
	--thumb-border-active-rgb: 255, 255, 255;
	--thumb-border-active-new-media-editor: #303030;
	--thumb-border-active-new-media-editor-rgb: 48, 48, 48;
	--thumb-border-viewer-active: #ccc;
	--thumb-border-viewer-active-rgb: 204, 204, 204;
	--toast-background: #000000d1;
	--toast-background-rgb: 0, 0, 0;
	--tooltip-background: #595959d9;
	--tooltip-background-rgb: 89.25, 89.25, 89.25;
	--typing: #07bc4c;
	--typing-rgb: 7, 188, 76;
	--unread-background: #fff;
	--unread-background-rgb: 255, 255, 255;
	--unread-bar-background: #ffffff40;
	--unread-bar-background-rgb: 255, 255, 255;
	--unread-marker-background: #06d755;
	--unread-marker-background-rgb: 5.71038, 214.78962, 85.41462;
	--unread-marker-text: #fff;
	--unread-marker-text-rgb: 255, 255, 255;
	--video-player-background: #000;
	--video-player-background-rgb: 0, 0, 0;
	--video-primary: #fff;
	--video-primary-rgb: 255, 255, 255;
	--voip-accept-background: #39d575;
	--voip-accept-background-rgb: 57, 213, 117;
	--voip-background: #262626;
	--voip-background-rgb: 38, 38, 38;
	--voip-background-deep: #000;
	--voip-background-deep-rgb: 0, 0, 0;
	--voip-primary: #fff;
	--voip-primary-rgb: 255, 255, 255;
	--voip-reject-background: #e54b40;
	--voip-reject-background-rgb: 229, 75, 64;
	--win32-title-primary: #fff;
	--win32-title-primary-rgb: 255, 255, 255;
}

@media all {
	html, body, .root {
		height: 100%;
		width: 100%;
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	
	body {
		font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
		color: #4a4a4a;
		text-rendering: optimizeLegibility;
		font-feature-settings: "kern";
		-webkit-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern";
		-moz-font-feature-settings: "kern=1";
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: #dddbd1;
		background-image: linear-gradient(180deg, #dddbd1, #d2dbdc);
	}
	
	::-webkit-scrollbar {
		width: 6px;
	}
	
	::-webkit-scrollbar-track {
		background: transparent;
	}
	
	::-webkit-scrollbar-thumb {
		background: #ccc;
	}
	
	[role=button] {
		cursor: pointer;
	}
	
	button {
		outline: none;
		border: 0;
		padding: 0;
		background: none;
		cursor: pointer;
	}
	
	input {
		font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
	}
	
	.root {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.selectable-text {
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
}